# Problem 1

NIM : 16520251

Nama : Rofif Fairuz Hawary

Sesi/Kelas : 3.1/D

Tanggal : 16 Desember 2020

Deskripsi : problem 1 praktikum modul 5

In [1]:
import pandas as pd

## Data Collecting

In [2]:
df = pd.read_csv("crypto.csv")

## Data Observation

#### 1. Menentukan banyak data

In [3]:
len(df)

8219

#### 2. 10 Data pertama

In [4]:
df[:10]

,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,BTC,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,BTC,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,BTC,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,BTC,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,BTC,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32
5,BTC,2013-05-03,1,106.25,108.13,79.10,97.75,0.0,1.085995e+09,0.6424,29.03
6,BTC,2013-05-04,1,98.10,115.00,92.50,112.50,0.0,1.250317e+09,0.8889,22.50
7,BTC,2013-05-05,1,112.90,118.80,107.14,115.91,0.0,1.288693e+09,0.7521,11.66
8,BTC,2013-05-06,1,115.98,124.66,106.64,112.30,0.0,1.249023e+09,0.3141,18.02
9,BTC,2013-05-07,1,112.25,113.44,97.70,111.50,0.0,1.240594e+09,0.8767,15.74

#### 3. Data ke 200 sampai 204

asumsi bahwa data ke-x merupakan urutan ke-x

In [5]:
df[199:204]

,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
199,BTC,2013-11-13,1,360.97,414.05,359.80,407.37,0.0,4.883103e+09,0.8769,54.25
200,BTC,2013-11-14,1,406.41,425.90,395.19,420.20,0.0,5.038818e+09,0.8144,30.71
201,BTC,2013-11-15,1,419.41,437.89,396.11,417.95,0.0,5.013561e+09,0.5227,41.78
202,BTC,2013-11-16,1,417.28,450.26,415.57,440.22,0.0,5.282849e+09,0.7106,34.69
203,BTC,2013-11-17,1,440.96,500.58,440.24,492.11,0.0,5.907842e+09,0.8596,60.34

asumsi bahwa data ke-x merupakan data pada index baris ke-x

In [6]:
df[200:205]

,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
200,BTC,2013-11-14,1,406.41,425.90,395.19,420.20,0.0,5.038818e+09,0.8144,30.71
201,BTC,2013-11-15,1,419.41,437.89,396.11,417.95,0.0,5.013561e+09,0.5227,41.78
202,BTC,2013-11-16,1,417.28,450.26,415.57,440.22,0.0,5.282849e+09,0.7106,34.69
203,BTC,2013-11-17,1,440.96,500.58,440.24,492.11,0.0,5.907842e+09,0.8596,60.34
204,BTC,2013-11-18,1,496.58,703.78,494.94,703.56,0.0,8.449070e+09,0.9989,208.84

#### 4. Jumlah data masing-masing koin

In [8]:
df["name"].value_counts()

BTC     2042
XRP     1944
XMR     1653
USDT    1369
ETH     1211
Name: name, dtype: int64

#### 5. Nilai korelasi antara close dan open

In [11]:
df["close"].corr(df["open"])

0.9982130769363813

karena nilai koefisien korelasi anatara nilai close dan nilai open adalah mendekati 1, maka antara nilai close dan nilai open memiliki nilai korelasi berbanding lurus